<div class="container-fluid">
  <div class="row">

    <div class="col">
      <dl>
        <div class="border margin p-3">
          <p class="h3 p-2">{{ animeDetail.name }}</p>
          <dt class="bold">Description</dt>
          <dd>{{ animeDetail.description }}</dd>
          <hr />
          <dt>Rating ⭐</dt>
          <dd>{{ animeDetail.Rating }}</dd>
          <hr />
          <dt>Studio</dt>
          <dd>{{ animeDetail.studio }}</dd>
          <hr />
          <dt class="bold">Number of episodes</dt>
          <dd class="caption">{{ animeDetail.total_episodes }}</dd>
          <hr />
        </div>
      </dl>
    </div>
    <div class="col-3">
      <div class="thumb">
        <img
          class="img-fluid border"
          src="{{ animeDetail.img }}"
          alt="{{ animeDetail.name }}"
        />
        <button class="btn btn-primary" (click)="goBack()">Regresar</button>

      </div>
    </div>
  </div>
 </div>
